name: Generate EPUB

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14.x'
    - name: Install dependencies
      run: npm install
    - name: Run index.js
      run: node src/index.js
    - name: Upload EPUB artifact
      uses: actions/upload-artifact@v2
      with:
        name: Leben_in_Deutschland
        path: Leben_in_Deutschland.epub

      
